In [1]:
import pandas as pd

In [2]:
df_2019_01 = pd.read_csv("Resources/JC-201901-citibike-tripdata.csv")
df_2019_02 = pd.read_csv("Resources/JC-201902-citibike-tripdata.csv")
df_2019_03 = pd.read_csv("Resources/JC-201903-citibike-tripdata.csv")
df_2019_04 = pd.read_csv("Resources/JC-201904-citibike-tripdata.csv")
df_2019_05 = pd.read_csv("Resources/JC-201905-citibike-tripdata.csv")
df_2019_06 = pd.read_csv("Resources/JC-201906-citibike-tripdata.csv")
df_2019_07 = pd.read_csv("Resources/JC-201907-citibike-tripdata.csv")
df_2019_08 = pd.read_csv("Resources/JC-201908-citibike-tripdata.csv")
df_2019_09 = pd.read_csv("Resources/JC-201909-citibike-tripdata.csv")
df_2019_10 = pd.read_csv("Resources/JC-201910-citibike-tripdata.csv")
df_2019_11 = pd.read_csv("Resources/JC-201911-citibike-tripdata.csv")
df_2019_12 = pd.read_csv("Resources/JC-201912-citibike-tripdata.csv")
df_2020_01 = pd.read_csv("Resources/JC-202001-citibike-tripdata.csv")
df_2020_02 = pd.read_csv("Resources/JC-202002-citibike-tripdata.csv")

In [3]:
df_2019_01.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [4]:
df_2019_06.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,316,2019-06-01 00:05:55.7210,2019-06-01 00:11:11.9940,3187,Warren St,40.721124,-74.038051,3199,Newport Pkwy,40.728745,-74.032108,29677,Subscriber,1993,1
1,280,2019-06-01 00:08:09.0920,2019-06-01 00:12:50.0730,3185,City Hall,40.717733,-74.043845,3267,Morris Canal,40.712419,-74.038526,29571,Subscriber,1984,1
2,2162,2019-06-01 00:13:11.8800,2019-06-01 00:49:14.3640,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,26208,Customer,1969,0
3,2184,2019-06-01 00:13:30.1110,2019-06-01 00:49:54.2250,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,29487,Customer,1969,0
4,139,2019-06-01 00:13:31.8520,2019-06-01 00:15:51.7880,3207,Oakland Ave,40.737604,-74.052478,3207,Oakland Ave,40.737604,-74.052478,29592,Subscriber,1994,1

In [12]:
total = len(df_2019_01)+len(df_2019_02)+len(df_2019_03)+len(df_2019_04)+len(df_2019_05)+len(df_2019_06)+len(df_2019_07)+len(df_2019_08)+len(df_2019_09)+len(df_2019_10)+len(df_2019_11)+len(df_2019_12)+len(df_2020_01)+len(df_2020_02)

print("The length of each dataframe is:")
print(f"   - January 2019: {len(df_2019_01)}")
print(f"   - February 2019: {len(df_2019_02)}")
print(f"   - March 2019: {len(df_2019_03)}")
print(f"   - April 2019: {len(df_2019_04)}")
print(f"   - May 2019: {len(df_2019_05)}")
print(f"   - June 2019: {len(df_2019_06)}")
print(f"   - July 2019: {len(df_2019_07)}")
print(f"   - August 2019: {len(df_2019_08)}")
print(f"   - September 2019: {len(df_2019_09)}")
print(f"   - October 2019: {len(df_2019_10)}")
print(f"   - November 2019: {len(df_2019_11)}")
print(f"   - December 2019: {len(df_2019_12)}")
print(f"   - January 2020: {len(df_2020_01)}")
print(f"   - February 2020: {len(df_2020_02)}")
print(" ")
print(f"The total summed up is: {total}")

The length of each dataframe is:
   - January 2019: 19676
   - February 2019: 18565
   - March 2019: 23606
   - April 2019: 33056
   - May 2019: 36135
   - June 2019: 39430
   - July 2019: 43746
   - August 2019: 48711
   - September 2019: 49244
   - October 2019: 42253
   - November 2019: 30797
   - December 2019: 19728
   - January 2020: 26020
   - February 2020: 22962

The total summed up is: 453929

In [14]:
get = [df_2019_01, df_2019_02, df_2019_03, df_2019_04, df_2019_05, df_2019_06, df_2019_07, df_2019_08, df_2019_09, df_2019_10, df_2019_11, df_2019_12, df_2020_01, df_2020_02]

In [15]:
complete_df = pd.concat(get)
complete_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [16]:
len(complete_df)

453929

In [18]:
complete_df.to_csv("Resources/complete-201901-202002.csv", index=False, header=True)